@import './base/reset.scss';
@import "./variable/variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}


body{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x:hidden;
    background-color: color(color-creamson);
}
